<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @question.name %>
      <div class="sentence">
        <%= @question.text%>
      </div>
      <%# <%= image_tag @question.image.variant(resize: '500×500'), class: 'message-image'if @question.image.attached? %> 
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
        <%= link_to "削除", question_path(@question), method: :delete %>
    </div>
  </div>
  <%# <div class="sentence">
    <%= @question.text%>
  <%# </div> %> 
</div>

<div class="messages">
  <%= render partial: 'answer', collection: @answers %>
</div> 
<%= form_with model: [@question, @answer], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_area :content, class: 'form-message', placeholder: 'type an answer or explanation' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
</div>
<% end %>


